*{
    background-color: white;
}

.Station{
    position: relative;
    display: inline-block;
    width: 200px;
    left: 60px;
    height: 25px;
    text-align: center;
    padding: 15px;
    border: 3px purple;
    border-radius: 30px;
    margin-right: 20px;
    margin-top: 50px;
    font-size: 22px;
    color:white;
    background-color:purple
}

.Arrow {
    position: relative;
    display: inline-block;
    text-align:center;
    font-size: 20px;
    top:10px;
    margin-left: 110px;
    margin-top: 20px;  
    width: 0; 
    height: 0; 
    border-width: 30px; 
    border-style: solid; 
    border-color: transparent transparent transparent black;
}

#Price{
    position: absolute;
    font-size: 20px;
    left:50%;
}

#Start{
    position: absolute;
    font-size: 20px;
    left:5%;
}

#End{
    position: absolute;
    font-size: 20px;
    left:20%;
}

#value{
    position: absolute;

    font-size: 25px;
    left: 60%;
}